@model train_booking.ViewModels.Statistics.StatisticssViewModel


@{
    ViewData["Title"] = "Профіль";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">
                    Адміністратор
                </h4>
            </div>
            <div>
                <form method="get" asp-controller="Admin" asp-action="Setting" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-primary btn-icon-text btn-rounded">
                        <i class="ti-settings btn-icon-prepend"></i>Налаштування
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="item-thumbnail">
                        <img src="~/lib/template/images/favicon-32.png" alt="image" class="profile-pic">
                    </div>
                    <div>
                        <p class="mb-3">
                            Прізвище:
                            @if (string.IsNullOrEmpty(Model.LastName))
                            {
                                <span class="text-primary"><i>не вказано</i></span>
                            }
                            else
                            {
                                <span class="font-weight-bold">@Model.LastName</span>
                            }
                        </p>
                        <p class="mb-3">
                            Імя:
                            @if (string.IsNullOrEmpty(Model.FirstName))
                            {
                                <span class="text-primary"><i>не вказано</i></span>
                            }
                            else
                            {
                                <span class="font-weight-bold">@Model.FirstName</span>
                            }
                        </p>
                    </div>
                    <div>
                        <p class="mb-3">
                            По батькові:
                            @if (string.IsNullOrEmpty(Model.MiddleName))
                            {
                                <span class="text-primary"><i>не вказано</i></span>
                            }
                            else
                            {
                                <span class="font-weight-bold">@Model.MiddleName</span>
                            }
                        </p>
                        <p class="mb-3">
                            Email:
                            @if (string.IsNullOrEmpty(Model.Email))
                            {
                                <span class="text-text-primary"><i>не вказано</i></span>
                            }
                            else
                            {
                                <span class="font-weight-bold">@Model.Email</span>
                            }
                        </p>
                    </div>
                    <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Кількість користувачів в системі</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@Model.Users.Count()</h3>
                    <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Кількість машиністів</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@Model.TrainDrivers.Count()</h3>
                    <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Кількість диспетчерів</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@Model.Dispatchers.Count()</h3>
                    <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left">Кількість маршрутів</p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">@Model.Routes.Count()</h3>
                    <i class="ti-direction icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Статистика кількості вагонів на маршруті</h3>
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/lib/template/js/Chart.min.js"></script>
    <script src="~/js/chart.js"></script>
}
