@model train_booking.Models.User


@{
    ViewData["Title"] = "Профіль";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">
                    Вітаємо, <span>@Model.LastName @Model.FirstName</span>! Ми раді Вас бачити!
                </h4>
            </div>
            <div>
                <form method="get" asp-controller="Passenger" asp-action="Setting" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-primary btn-icon-text btn-rounded">
                        <i class="ti-settings btn-icon-prepend"></i>Налаштування
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Пасажир: <span>@Model.LastName @Model.FirstName @Model.MiddleName</span></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="item-thumbnail">
                        <img src="~/lib/template/images/favicon-32.png" alt="image" class="profile-pic">
                    </div>
                    <div>
                        <p class="mb-3">Email: <span class="font-weight-bold">@Model.Email</span></p>
                        <p class="mb-3">Прізвище: <span class="font-weight-bold">@Model.LastName</span></p>
                        <p class="mb-3">Імя: <span class="font-weight-bold">@Model.FirstName</span></p>
                    </div>
                    <div>
                        <p class="mb-3">По батькові: <span class="font-weight-bold">@Model.MiddleName</span></p>
                        <p class="mb-3">Паспорт: <span class="font-weight-bold">@Model.Passport</span></p>
                    </div>
                    <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
</div>

