@model train_booking.Models.TrainDriver


@{
    ViewData["Title"] = "Профіль";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="font-weight-bold mb-0">
                    Вітаємо, Машиніст ! Ми раді Вас бачити!
                </h4>
            </div>
            <div>
                <form method="get" asp-controller="TrainDriver" asp-action="Setting" asp-route-id="@Model.UserId">
                    <button type="submit" class="btn btn-primary btn-icon-text btn-rounded">
                        <i class="ti-settings btn-icon-prepend"></i>Налаштування
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Машиніст: <span>@Model.User.LastName @Model.User.FirstName @Model.User.MiddleName</span></p>
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="item-thumbnail">
                        <img src="~/lib/template/images/faces/face27.jpg" alt="image" class="profile-pic">
                    </div>
                    <div>
                        <p class="mb-3">Email: <span class="font-weight-bold">@Model.User.Email</span></p>
                        <p class="mb-3">Прізвище: <span class="font-weight-bold">@Model.User.LastName</span></p>
                        <p class="mb-3">Імя: <span class="font-weight-bold">@Model.User.FirstName</span></p>
                        <p class="mb-3">По батькові: <span class="font-weight-bold">@Model.User.MiddleName</span></p>
                        <p class="mb-3">Медична книга: <span class="font-weight-bold">@Model.HealthStatus</span></p>
                        <p class="mb-3">Номер сертифікату: <span class="font-weight-bold">@Model.CertificateNumber</span></p>
                    </div>
                    <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Статистика кількості вагонів на маршруті</h3>
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/lib/template/js/Chart.min.js"></script>
    <script src="~/js/chart.js"></script>
}
