@model IEnumerable<Seat>

@{ ViewData["Title"] = "Мої квитки"; }



<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a>Мої квитки</a></h5>
        <div class="table-responsive">
            <table class="table table-hover datatable-table mt-2">
                <thead class="text-center">
                    <tr class="table-info">
                        <th class="visible text-left">№ Квитка</th>
                        <th class="visible text-left">П.І.Б.</th>
                        <th class="visible text-left">Пункт відправлення</th>
                        <th class="visible text-left">Пункт призначення</th>
                        <th class="visible text-left">Номер потягу</th>
                        <th class="visible text-left">Тип вагона</th>
                        <th class="visible text-left">№ Вагону</th>
                        <th class="visible text-left">Місце</th>
                        <th class="visible text-left">Дата поїздки</th>
                        <th class="visible text-left">Ціна квитка UAH</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var seat in Model)
                    {
        <tr>
            <td class="text-center">@seat.Id</td>
            <td class="text-center">@seat.User.LastName @seat.User.FirstName @seat.User.MiddleName</td>
            <td class="text-center">@seat.Wagon.Train.Route.DeparturePoint</td>
            <td class="text-center">@seat.Wagon.Train.Route.Destination</td>
            <td class="text-center">@seat.Wagon.Train.NumberTrain</td>
            <td class="text-center">@seat.Wagon.TypeWagon</td>
            <td class="text-center">@seat.Wagon.WagonId</td>
            <td class="text-center">@seat.SeatNumber</td>
            <td class="text-center">@seat.Wagon.Train.Route.DeparturePointDate</td>
            <td class="text-center">@seat.Wagon.PlacePrice</td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles{

    <link rel="stylesheet" href="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css" />
}


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js"></script>
    <script src="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="~/js/printForTicket.js" asp-append-version="true"></script>
}