@model IEnumerable<train_booking.ViewModels.Wagons.WagonViewModel>

@{
    ViewData["Title"] = "Вагони";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <h5 class="card-title">Вагони</h5>
            </div>
            <div>
                <form class="d-inline" method="get" asp-action="CreateWagon" asp-route-trainId="@ViewBag.TrainId">
                    <button type="submit" class="btn btn-outline-primary btn-rounded btn-icon d-flex align-items-center float-right justify-content-center">
                        <i class="ti-plus"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover datatable-table mt-2">
                <thead>
                    <tr class="table-info">
                        <th class="visible">Тип вагону</th>
                        <th class="visible">Кількість місць</th>
                        <th class="visible">Ціна квитка UAH</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wagon in Model)
                    {
                        <tr>
                            <td>@wagon.TypeWagon</td>
                            <td>@wagon.PlaceCount</td>
                            <td>@wagon.PlacePrice</td>
                            <td class="text-left">
                                <form class="d-inline" method="get" asp-action="EditWagon" asp-route-wagonId="@wagon.WagonId">
                                    <button type="submit" class="btn btn-inverse-warning btn-rounded btn-icon">
                                        <i class="ti-pencil-alt2"></i>
                                    </button>
                                </form>
                                <form class="d-inline" method="post" asp-action="DeleteWagon" asp-route-wagonId="@wagon.WagonId">
                                    <input type="hidden" name="trainId" value="@ViewBag.TrainId" />
                                    <button type="submit" class="btn btn-inverse-danger btn-rounded btn-icon">
                                        <i class="ti-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>