@model IEnumerable<Seat>

@{ ViewData["Title"] = "Мої квитки"; }



<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <h5 class="card-title">Мої квитки</h5>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover datatable-table">
                <thead class="text-center">
                    <tr class="table-info">
                        <th class="text-center">Пункт відправлення</th>
                        <th class="text-center">Пункт призначення</th>
                        <th class="text-center">Номер потягу</th>
                        <th class="text-center">Тип вагона</th>
                        <th class="text-center">Номер вагон</th>
                        <th class="text-center">Місце</th>
                        <th class="text-center">Дата поїздки</th>
                        <th class="text-center">Ціна квитка UAH</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var seat in Model)
                    {
                        <tr>
                            <td>@seat.Wagon.Train.Route.DeparturePoint</td>
                            <td>@seat.Wagon.Train.Route.Destination</td>
                            <td>@seat.Wagon.Train.NumberTrain</td>
                            <td>@seat.Wagon.TypeWagon</td>
                            <td>@seat.Wagon.WagonId</td>
                            <td>@seat.SeatNumber</td>
                            <td>@seat.Wagon.Train.Route.DeparturePointDate</td>
                            <td>@seat.Wagon.PlacePrice</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
