@model train_booking.ViewModels.Routes.RoutesIndexViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<train_booking.Models.User> UserManager

@{
    ViewData["Title"] = "Замовити квиток";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div>
                                <h3 class="card-title text-uppercase text-info">Замовити квиток</h3>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-center">
                            <div>
                                <input type="search" id="departure-point" class="form-control " placeholder="Звідки">
                            </div>
                            <div>
                                <input type="search" id="destination" class="form-control" placeholder="Куди">
                            </div>
                            <div>
                                <input type="text" id="departure-point-date" class="form-control datepicker" placeholder="Дата">
                            </div>
                            <div class="col-md-3">
                                <button id="searching-button" class="btn btn-block btn-group-sm btn-danger btn-icon-text"><i class="ti-search btn-icon-prepend"></i>Знайти</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover datatable-table">
                                <thead class="text-center">
                                    <tr class="table-info">
                                        <th class="visible">Пункт Відправлення</th>
                                        <th class="visible">Пункт Призначення</th>
                                        <th class="visible">Дистанція (км)</th>
                                        <th class="visible">Дата та час відправлення</th>
                                        <th class="visible">Дата та час прибуття</th>
                                        <th>Дії</th>
                                    </tr>
                                </thead>
                                <tbody id="tickets-table" class="text-center">
                                    @foreach (var route in Model.Routes)
                                    {
                                        <tr>
                                            <td>@route.DeparturePoint</td>
                                            <td>@route.Destination</td>
                                            <td>@route.Distance</td>
                                            <td>@route.DeparturePointDate.ToString("dd.MM.yyyy HH:mm")</td>
                                            <td>@route.DestinationDate.ToString("dd.MM.yyyy HH:mm")</td>

                                            <td class="text-center">
                                                <form class="d-inline-flex" method="get" asp-action="Details" asp-route-trainId="@route.TrainId">
                                                    <button type="submit" class="btn btn-outline-primary btn-rounded btn-fw">
                                                        Вибрати
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/ticketSearching.js"></script>
    <script src="~/js/datepicker.js"></script>
}

