@model Route
@using Microsoft.AspNetCore.Identity;
@inject UserManager<train_booking.Models.User> UserManager
@{
    ViewData["Title"] = "Деталі про маршрут";
}


<div class="row">
    <div class="col-xl-6 col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div>
                        <h3 class="card-title text-uppercase text-info">Маршрут: <span>@Model.DeparturePoint</span> <span>@Model.Destination</span></h3>
                        <p class="mb-3">Машиніст: <span class="font-weight-bold">@Model.TrainDriver.User.LastName @Model.TrainDriver.User.FirstName @Model.TrainDriver.User.MiddleName</span></p>
                        <p class="">Дата та час відправлення: <span class="font-weight-bold">@Model.DeparturePointDate.ToString("dd.MM.yyyy HH:mm")</span></p>
                        <p class="mb-3">Дата та час прибуття: <span class="font-weight-bold">@Model.DestinationDate.ToString("dd.MM.yyyy HH:mm")</span></p>
                        <p class="mb-3">Дистанція: <span class="font-weight-bold">@Model.Distance км</span></p>
                        <div class="mb-5">
                            <h6>Потяг</h6>
                            <p class="mb-3 text-dark">№ Потягу: <span class="font-weight-bold">@Model.Train.NumberTrain</span></p>
                            <p class="mb-3 text-dark">Тип потягу: <span class="font-weight-bold">@Model.Train.TypeTrain</span></p>
                            <p class="mb-3 text-dark">Кількість вагонів: <span class="font-weight-bold">@Model.Train.Wagon.Count()</span></p>
                        </div>
                    </div>
                    <div class="trainDetails"></div>
                    <div class="d-flex flex-wrap justify-content-end">
                        @if (User.IsInRole("Dispatcher") || User.IsInRole("Administrator"))
                        {
                            <form class="d-inline" method="get" asp-action="Edit" asp-route-routeId="@Model.Id">
                                <button title="Редагувати" type="submit" class="btn btn-inverse-warning btn-rounded btn-icon">
                                    <i class="ti-pencil-alt"></i>
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                @if (Model.NavigationUrl != null)
                {
                    <iframe src="@Model.NavigationUrl" width="700" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                }
                else
                {
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15228.460213186032!2d30.47982528278412!3d50.44213565890824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef2a01742cf%3A0x94d02f977be98e0!2z0JYv0JQg0JLQvtC60LfQsNC7INCa0LjQtdCy!5e0!3m2!1sru!2sua!4v1604147881524!5m2!1sru!2sua" width="700" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                }
            </div>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h6>Вагони</h6>
                    <table class="table table-hover datatable-table">
                        <thead>
                            <tr class="table-success">
                                <th class="visible">Тип вагону</th>
                                <th class="visible">Кількість місць</th>
                                <th class="visible">Ціна квитка UAH</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var wagon in Model.Train.Wagon)
                            {
                                <tr>
                                    <td>@wagon.TypeWagon</td>
                                    <td>@wagon.PlaceCount</td>
                                    <td>@wagon.PlacePrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>