@model train_booking.ViewModels.Routes.RoutesIndexViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<train_booking.Models.User> UserManager

@{
    ViewData["Title"] = "Маршрути";
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div>
                        <h3 class="card-title text-uppercase">Маршрути</h3>
                        <p class="mb-3">У вас: <span class="font-weight-bold text-danger">@Model.Routes.Count()</span> маршрути</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover datatable-table">
                        <thead class="text-center">
                            <tr class="table-info">
                                <th class="visible">Пункт Відправлення</th>
                                <th class="visible">Пункт Призначення</th>
                                <th class="visible">Дистанція (км)</th>
                                <th class="visible">Дата та час відправлення</th>
                                <th class="visible">Дата та час прибуття</th>
                                <th class="visible">Машиніст</th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var route in Model.Routes)
                            {
                                <tr>
                                    <td>@route.DeparturePoint</td>
                                    <td>@route.Destination</td>
                                    <td>@route.Distance</td>
                                    <td>@route.DeparturePointDate.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@route.DestinationDate.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@route.TrainDriver.User.LastName @route.TrainDriver.User.FirstName @route.TrainDriver.User.MiddleName</td>
                                    <td class="text-center">
                                        <form class="d-inline-flex" method="get" asp-action="Details" asp-route-trainId="@route.TrainId">
                                            <button title="Деталі" type="submit" class="btn btn-inverse-info btn-rounded btn-icon">
                                                <i class="ti-info-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
