@model train_booking.ViewModels.Routes.RoutesIndexViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<train_booking.Models.User> UserManager

@{
    ViewData["Title"] = "Маршрути";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-outline-primary btn-rounded btn-icon d-flex align-items-center float-right justify-content-center" asp-action="Create">
                    <i class="ti-plus"></i>
                </a>
                <h5 class="card-title"><a>Маршрути</a></h5>
                <div class="table-responsive">
                    <table class="table table-hover mt-2 datatable-table">
                        <thead class="text-center">
                            <tr class="table-info">
                                <th class="visible">Пункт Відправлення</th>
                                <th class="visible">Пункт Призначення</th>
                                <th class="visible">Дистанція (км)</th>
                                <th class="visible">Дата та час відправлення</th>
                                <th class="visible">Дата та час прибуття</th>
                                <th class="visible">Машиніст</th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var route in Model.Routes)
                            {
                                <tr>
                                    <td>@route.DeparturePoint</td>
                                    <td>@route.Destination</td>
                                    <td>@route.Distance</td>
                                    <td>@route.DeparturePointDate.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@route.DestinationDate.ToString("dd.MM.yyyy HH:mm")</td>
                                    <td>@route.TrainDriver.User.LastName @route.TrainDriver.User.FirstName @route.TrainDriver.User.MiddleName</td>
                                    <td class="text-center">
                                        <form class="d-inline-flex" method="get" asp-action="Details" asp-route-trainId="@route.TrainId">
                                            <button title="Деталі" type="submit" class="btn btn-inverse-info btn-rounded btn-icon">
                                                <i class="ti-info-alt"></i>
                                            </button>
                                        </form>
                                        <form class="d-inline-flex" method="get" asp-action="Edit" asp-route-routeId="@route.Id">
                                            <button title="Редагувати маршрут" type="submit" class="btn btn-inverse-warning btn-rounded btn-icon">
                                                <i class="ti-pencil-alt"></i>
                                            </button>
                                        </form>
                                        <form class="d-inline-flex" method="post">
                                            <button title="Видалити маршрут" type="submit" class="btn btn-inverse-danger btn-rounded btn-icon" asp-action="Delete" asp-route-routeId="@route.Id">
                                                <i class="ti-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{

    <link rel="stylesheet" href="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css" />
}


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js"></script>
    <script src="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    <script src="~/js/searchForCustomer.js" asp-append-version="true"></script>
}
