@model List<TrainDriver>
@{
    ViewData["Title"] = "Машиністи";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="card">
    <div class="card-body">
        <a type="submit" class="btn btn-outline-primary btn-rounded btn-icon d-flex align-items-center float-right justify-content-center" asp-controller="TrainDriver" asp-action="Create">
            <i class="ti-plus"></i>
        </a>
        <h5 class="card-title"><a>Машиністи</a></h5>
        <div class="table-responsive">
            <table class="table table-hover mt-2">
                <thead class="text-center">
                    <tr class="table-info">
                        <th class="visible text-left">Ім'я машиніста</th>
                        <th class="visible text-left">Email</th>
                        <th class="visible text-left">Номер сертифікату</th>
                        <th class="visible text-left">Номер паспорту</th>
                        <th class="visible text-left">Медична книга</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.User.LastName @item.User.FirstName @item.User.MiddleName</td>
                            <td class="text-left">@item.User.Email</td>
                            <td class="text-left">@item.CertificateNumber</td>
                            <td class="text-left">@item.User.Passport</td>
                            <td class="text-left">@item.HealthStatus</td>
                            <td class="text-center">
                                <form class="d-inline" method="get" asp-action="Edit" asp-route-id="@item.UserId">
                                    <button type="submit" href="@Url.Action("Edit", "TrainDriver", new { id = item.UserId })" class="btn btn-inverse-warning btn-rounded btn-icon" data-toggle="tooltip" title="Редагувати машиніста">
                                        <i class="ti-pencil-alt2"></i>
                                    </button>
                                </form>
                                <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.TrainDriverId">
                                    <button type="submit" class="btn btn-inverse-danger btn-rounded btn-icon" data-toggle="tooltip" title="Видалити машиніста">
                                        <i class="ti-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>