@model train_booking.ViewModels.Chats.ChatViewModel

@{
    ViewData["Title"] = "Чат";
}


<div id="chat-container" class="row rounded-lg">
    <div class="col-12 px-0">
        <div class="px-4 py-5 chat-box bg-secondary" id="messages-container">
            @foreach (var message in Model.Messages)
            {
                if (message.user.Id == Model.UserId)
                {
                    <div class="media w-50 ml-auto mb-3">
                        <div class="media-body">
                            <div class="bg-light rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-black">@message.message</p>
                            </div>
                            <p class="small text-muted">@message.date.ToString("dd.MM.yyyy, HH:mm:ss")</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="media w-50 mb-3">
                        <div class="media-body ml-3">
                            <p class="small text-dark">@message.user.LastName @message.user.FirstName</p>
                            <div class="bg-dark rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white">@message.message</p>
                            </div>
                            <p class="small text-muted">@message.date.ToString("dd.MM.yyyy, HH:mm:ss")</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<form class="bg-light chat-form">
    <div class="input-group">
        <input type="hidden" id="my-user-id" value="@Model.UserId" />
        <input type="text" class="form-control" id="message-box" placeholder="Написати повідомення..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-inverse-primary btn-fw"> Надіслати</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}
