@model List<Dispatcher>
@{
    ViewData["Title"] = "Диспетчер";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}

<div class="card">
    <div class="card-body">
        <a type="submit" class="btn btn-outline-primary btn-rounded btn-icon d-flex align-items-center float-right justify-content-center" asp-controller="Dispatcher" asp-action="Create">
            <i class="ti-plus"></i>
        </a>
        <h5 class="card-title"><a>Диспетчери</a></h5>
        <div class="table-responsive">
            <table class="table table-hover mt-2 datatable-table">
                <thead class="text-center">
                    <tr class="table-info">
                        <th class="visible text-left">Ім'я диспетчера</th>
                        <th class="visible text-left">Email</th>
                        <th class="visible text-left">Адреса</th>
                        <th class="visible text-left">Номер паспорту</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.User.LastName @item.User.FirstName @item.User.MiddleName</td>
                            <td class="text-left">@item.User.Email</td>
                            <td class="text-left">@item.Address</td>
                            <td class="text-left">@item.User.Passport</td>
                            <td class="text-center">
                                <form class="d-inline" method="get" asp-action="Edit" asp-route-id="@item.UserId">
                                    <button type="submit" href="@Url.Action("Edit", "Dispatcher", new { id = item.UserId })" class="btn btn-inverse-warning btn-rounded btn-icon" data-toggle="tooltip" title="Редагувати диспетчера">
                                        <i class="ti-pencil-alt2"></i>
                                    </button>
                                </form>
                                <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.DispatcherId">
                                    <button type="submit" class="btn btn-inverse-danger btn-rounded btn-icon" data-toggle="tooltip" title="Видалити диспетчера">
                                        <i class="ti-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Styles{

    <link rel="stylesheet" href="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css" />
}


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5/tinymce.min.js"></script>
    <script src="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    <script src="~/js/searchForCustomer.js" asp-append-version="true"></script>
}